<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API documentation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>
    Politicial polarization API v1.0
</h1>
<p>
<center>Latest API version is currenly in v1.0, and the possible endpoints are listed below:</center>


</p>
<div class="left-table">
    <table style="width:100%">
        <tr>
            <th>Endpoint</th>
            <th>Example</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>www.politicalpolarization.com/api/v1.0/tweets/</td>
            <td>www.politicalpolarization.com/api/v1.0/tweets/</td>
            <td>Query all data. Note: May be slow, due to server capacity and data set size. Best practice is the limit querys using other API endpoints.</td>
        </tr>
        <tr>
            <td>www.politicalpolarization.com/api/v1.0/tweets/date=<"string:date"></td>
            <td>www.politicalpolarization.com/api/v1.0/tweets/date=2020-01-31</td>
            <td>Get all tweets by date. The data set contains tweets going back to 2014, although the data set is only complete from November 2019 and forward.</td>
        </tr>
        <tr>
            <td>www.politicalpolarization.com/api/v1.0/tweets/party=<"string:party"></td>
            <td>www.politicalpolarization.com/api/v1.0/tweets/party=Republican</td>
            <td>Query data by political affiliation. There are three options; Republican, Democrat and Independent</td>
        </tr>
        <tr>
            <td>www.politicalpolarization.com/api/v1.0/tweets/id=<"int:id"></td>
            <td>www.politicalpolarization.com/api/v1.0/tweets/id=1212162050262212608</td>
            <td>Query data by specific tweet. This is a useful tool for inspecting specific observations in the dataset</td>
        </tr>
        <tr>
            <td>www.politicalpolarization.com/api/v1.0/tweets/screen_name=<"string:screen_name"></td>
            <td>www.politicalpolarization.com/api/v1.0/tweets/screen_name=RepAndyBarr</td>
            <td>Query data by twitter user name. This is also known as a twitter handle.</td>
        </tr>
    </table>
</div>
</body>
</html>
