<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Political Polarization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1> Political Polarization </h1>
<div class="text-area">
    <p> This is the political polarization data overview site, connected to the Big Data Analytics course at CBS, containing supplementary information regarding the project, along with interactive deployments of out machine learning models and an API to query our data set. </p>
</div>


<div class="below">
    <div class="leftbox">
        <a href="http://politicalpolarization.com/dashboard/">Explore data dashboard</a>

    </div>

    <div class="middlebox">
        <a href="http://politicalpolarization.com/api/">View API documentation</a>

    </div>


    <div class="rightbox">
        <span><a href="http://politicalpolarization.com/predict/neural_network/" class="centered">Neural network playground</a></span>

    </div>
</div>

</body>
</html>
