<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Political predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>
    Det her kommer til at gå amok!
</h1>
</body>
</html>

