body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  /*background: #F3F3F3 !important;
  background-image: url('images/background.jpg');
  background-size: 100%;*/

}
/*
 * Formatting the header area
 */
h1 {
   text-align: center;
}

body .text-area {
   text-align: center;
   margin: 100px;
}

body .left-table {
   text-align: left;
   margin: 100px;
   font-size: 14px;
}

body .left-table table {
                border-collapse: collapse;
            }
            th {
                background-color:green;
                Color:white;
            }
            th, td {
                width:150px;
                text-align:center;
                border:1px solid black;
                padding:5px

            }
            .geeks {
                border-right:hidden;
            }
            .gfg {
                border-collapse:separate;
                border-spacing:0 15px;
            }
            h1 {
                color:green;
            }

header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Centering the body content
 */
.container {
  width: 1200px;
  margin: 0 auto;
}
div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}
.menu {
  float: left;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}

.menu {
    box-sizing: border-box
}

.button {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.menu li a {
  color: #999;
  text-decoration: none;
}

.menu button_box li a  {
    color: #111
}

section .textarea-wrapper h1, section .textarea-wrapper .h1, section .textarea-wrapper .h2, section .textarea-wrapper h2, section .left h1, section .left .h1, section .left .h2, section .left h2 {
  color: #white !important;
}

.below {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

/*section .below li, section .below p, section .below a {
  margin: 0;
  font-family: "Khand", sans-serif !important;
  font-weight: 300 !important;
}*/

body .below .leftbox{
                float:left;
                width:33.3333%;
                height:200px;
                text-align:center;
                /*background-image: url('images/analytics_thumbnail.jpg');*/
            }

body .below .rightbox img{
                max-width:100%;
                max-height:100%;
            }

body .below .middlebox{
                float:left;
                background:white;
                width:33.3333%;
                height:200px;
                text-align:center;
                vertical-align: center;
            }

body .below .rightbox{
                float:right;
                background:white;
                width:33.3333%;
                height:200px;
                text-align:center;
                vertical-align: center;
            }


body .below .rightbox a, body .below .leftbox a, body .below .middlebox a {
color:green;
text-decoration: none;
font-weight: bold;
}

body .below .rightbox a:visited, body .below .leftbox a:visited, body .below .middlebox a:visited {
color:green;
text-decoration: none;
font-weight: bold;
}
