body {
  -webkit-print-color-adjust: exact !important;
  background: #303234 !important;
}

body, html {
  height: 100vh;
}

body .bold, html .bold {
  font-weight: 600;
}

body .textarea, html .textarea {
  height: 560px;
  overflow: hidden;
  background: transparent !important;
  border: none !important;
  color: #535252 !important;
  margin: 0;
}

body .textarea .bold, html .textarea .bold {
  margin-bottom: 0 !important;
}

body .textarea h1, body .textarea h2, body .textarea h3, body .textarea h4, body .textarea h5, html .textarea h1, html .textarea h2, html .textarea h3, html .textarea h4, html .textarea h5 {
  margin-bottom: 10px;
}

body h1, body h2, body h3, body h4, body h5, body .h1, body .h2, body .h3, body .h4, body .h5, body .h6, html h1, html h2, html h3, html h4, html h5, html .h1, html .h2, html .h3, html .h4, html .h5, html .h6 {
  font-family: "Khand", sans-serif !important;
  text-transform: uppercase;
  font-weight: 700 !important;
}

body h1, body .h1, html h1, html .h1 {
  font-size: 50px;
  margin-bottom: 30px !important;
}

body .standard.segment h1, body .standard.segment .h1, html .standard.segment h1, html .standard.segment .h1 {
  font-size: 50px;
  margin-bottom: 15px !important;
}

body h2, body .h2, html h2, html .h2 {
  font-size: 45px;
}

body h3, body .h3, html h3, html .h3 {
  font-size: 40px;
}

body h4, body .h4, html h4, html .h4 {
  font-size: 35px;
}

body h5, body .h5, html h5, html .h5 {
  font-size: 30px;
}

body h6, html h6 {
  font-family: "Roboto", sans-serif !important;
  color: #535252 !important;
  font-size: 16px !important;
}

body p, body .p, html p, html .p {
  font-family: "Roboto", sans-serif !important;
  color: #535252 !important;
  font-size: 14px !important;
}

body .left h1, body .left .h1, body .left h2, body .left .h2, body .left h3, body .left .h3, body .left h4, body .left .h4, body .left h5, body .left .h5, body .left h6, body .left .h6, html .left h1, html .left .h1, html .left h2, html .left .h2, html .left h3, html .left .h3, html .left h4, html .left .h4, html .left h5, html .left .h5, html .left h6, html .left .h6 {
  color: #662D91 !important;
}

.justify-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media print {
  #upload-image-target-market, #upload-image-intro {
    display: none !important;
  }
  #upload-image-carusel-1, #upload-image-carusel-2 {
    display: none !important;
  }
  section {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    max-height: 100vh !important;
    max-width: 100vw !important;
  }
  .modebar {
    display: none !important;
  }
}

.grid-container {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}

.grid-container .grid-x {
  height: 100%;
}

section {
  z-index: 10;
  overflow: hidden;
  clear: both;
  page-break-after: always;
  width: 1122.5px;
  height: 793.7px;
  position: relative;
  margin: 20px auto 20px auto;
  padding: 5rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

section .textarea-wrapper h1, section .textarea-wrapper .h1, section .textarea-wrapper .h2, section .textarea-wrapper h2, section .left h1, section .left .h1, section .left .h2, section .left h2 {
  color: #662D91 !important;
}

section .h1 {
  height: 60px;
}

section .below {
  position: absolute;
  left: 5rem;
  right: 5rem;
  bottom: 1.5rem;
}

section .below .text-right input {
  text-align: right;
}

section .below .text-right p, section .below .text-right input {
  text-transform: uppercase;
}

section .below p, section .below input {
  margin: 0;
  font-family: "Khand", sans-serif !important;
  font-weight: 300 !important;
}

section .below {
  left: 5rem;
  right: 5rem;
  position: absolute;
  bottom: 30px;
}

section .below .text-right p {
  text-transform: uppercase;
}

section .below p {
  font-family: "Khand", sans-serif !important;
  font-weight: 300;
  margin-bottom: 0;
}

section a {
  color: #662D91 !important;
}

section a:hover {
  color: #662D91 !important;
  text-decoration: underline;
}

section input[type=text] {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

section input[type=text]:focus {
  outline: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

section .image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

section.introduction #output-image-upload-intro img {
  width: auto !important;
  max-height: 560px !important;
  height: inherit !important;
}

section.frontpage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
}

section.frontpage input {
  text-align: center;
  color: white !important;
  text-transform: uppercase;
  -webkit-print-color-adjust: exact !important;
}

section.frontpage .top, section.frontpage .bottom {
  font-size: 28px;
  line-height: 29px;
  font-family: "Khand", sans-serif;
  font-weight: 300 !important;
}

section.frontpage .middle {
  font-family: "Khand", sans-serif;
  font-size: 75px;
  line-height: 75px;
  height: 75px;
  font-weight: 700 !important;
}

section.frontpage img {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 100%;
}

section.evaluation .h6 {
  font-size: 1rem !important;
  color: #535252 !important;
  text-transform: inherit;
  margin-bottom: 0 !important;
  line-height: 22px !important;
  font-weight: 700 !important;
  height: 22px;
  font-family: "Roboto", sans-serif !important;
}

section.target_market .textarea {
  height: 100px;
  margin-bottom: 20px;
}

section.target_market .boxes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

section.target_market .boxes input[type=text] {
  height: inherit !important;
}

section.target_market #output-image-upload-target-market img {
  width: auto !important;
  height: inherit !important;
  max-height: 374px !important;
}

section.target_market .box {
  padding: 12px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

section.target_market .box input[type=text] {
  height: auto !important;
}

section.target_market .box:last-child {
  margin-bottom: 0;
}

section.target_market .box .h6 {
  font-size: 19px;
  text-transform: none;
  color: white !important;
  line-height: 20px;
}

section.target_market .box .p {
  color: white !important;
  line-height: 15px;
  font-size: 15px;
}

section.target_market .left .box {
  background: #662D91 !important;
}

section.target_market .middle .box {
  background: black !important;
}

section.standard .textarea-wrapper h1 {
  color: #662D91 !important;
}

section.standard.segment .textarea {
  margin-bottom: 15px !important;
  height: 258px !important;
}

section.kpi .textarea p {
  margin-bottom: 0 !important;
}

section.kpi .figure {
  text-align: center;
  margin-bottom: 25px;
}

section .diagram-wrapper {
  height: inherit !important;
}

section .diagram-wrapper .diagram {
  margin-bottom: 25px;
}

section .diagram-wrapper .diagram .figure {
  padding: 20px;
  background: white !important;
  border-radius: 15px !important;
  box-shadow: 0 12px 45px 0 rgba(28, 34, 42, 0.2) !important;
  -webkit-print-color-adjust: exact !important;
  -webkit-filter: opacity(1) !important;
}

section .diagram-wrapper .diagram:last-child {
  margin-bottom: 0;
}

section .diagram-wrapper .diagram h5 {
  text-align: center;
}

section .diagram-wrapper .diagram input[type=text] {
  text-align: center;
}

section.appendix .grid-x {
  height: auto;
}

section.appendix input[type=text] {
  height: auto;
}

section.appendix .h1 {
  text-align: center;
}

section.appendix .title {
  font-weight: 600;
  color: black !important;
  font-size: 16px !important;
}

section.appendix .link {
  text-decoration: underline;
  color: black !important;
  font-size: 12px;
}

section.appendix .h6 {
  margin-bottom: 10px;
  padding-left: 20px;
  color: #662D91 !important;
  text-transform: none;
}

section.appendix .box {
  padding: 20px 20px 0 20px;
  background: white !important;
  border-radius: 15px !important;
  box-shadow: 0 12px 45px 0 rgba(28, 34, 42, 0.2) !important;
  -webkit-print-color-adjust: exact !important;
  -webkit-filter: opacity(1) !important;
}

section.appendix .box .inner {
  margin-bottom: 20px;
  padding: 15px 20px;
  background: white !important;
  box-shadow: 0 12px 45px 0 rgba(28, 34, 42, 0.15) !important;
  -webkit-print-color-adjust: exact !important;
  -webkit-filter: opacity(1) !important;
}

section.carusel .first {
  margin-bottom: 10px !important;
}

section.carusel #output-image-upload-carusel-1 img, section.carusel #output-image-upload-carusel-2 img {
  width: auto !important;
  max-height: 300px !important;
  height: inherit !important;
}

.svg-container, svg.main-svg {
  max-width: 100%;
}
